<a href="https://colab.research.google.com/github/cacress/CSC442/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import pandas
import pandas as pd

# Read in the file and print out the DataFrame
hulu_data = pd.read_csv("https://raw.githubusercontent.com/cacress/CSC442/refs/heads/main/datasets/titles_hulu.csv")
netflix_data = pd.read_csv("https://raw.githubusercontent.com/cacress/CSC442/refs/heads/main/datasets/titles_netflix.csv")

In [4]:
# Concatentate datasets
combined_df = pd.concat([hulu_data, netflix_data])
combined_df.shape
combined_df.index

/n/n

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849],
      dtype='int64', length=8248)

In [5]:
# Create a list of the columns that are categorical and those that are integer and those that have string values

import numpy as np
numerical = []
categorical = []
string = []

combined_df['genres'] = combined_df['genres'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
combined_df['production_countries'] = combined_df['production_countries'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)

for column in combined_df.columns:
# check if the column contains more than 10 unique values then it is not categorical
  if combined_df[column].dtype == np.int64 or combined_df[column].dtype == np.float64:
    numerical.append(column)

# second check for numerical values
#HINT: use numpy datatypes
  elif combined_df[column].nunique() > 100:
    string.append(column)
  elif combined_df[column].dtype == np.object_:
    categorical.append(column)

# otherwise it would be String values
# Categorical: Type, Genres, Age certification, Production country
  else:
    categorical.append(column)

print("Numerical columns: ", numerical)
print("Categorical columns: ", categorical)
print("String columns: ", string)

Numerical columns:  ['release_year', 'runtime', 'seasons', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']
Categorical columns:  ['type', 'age_certification', 'genres', 'production_countries']
String columns:  ['id', 'title', 'description', 'imdb_id']

In [6]:
# Convert all the columns in the categorical list to be of the type category

for column in categorical:
  combined_df[column] = combined_df[column].astype('category')

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8248 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8248 non-null   object
 1   title                 8247 non-null   object
 2   type                  8248 non-null   category
 3   description           8217 non-null   object
 4   release_year          8248 non-null   int64
 5   age_certification     4944 non-null   category
 6   runtime               8248 non-null   int64
 7   genres                0 non-null      category
 8   production_countries  0 non-null      category
 9   seasons               3436 non-null   float64
 10  imdb_id               7710 non-null   object
 11  imdb_score            7600 non-null   float64
 12  imdb_votes            7583 non-null   float64
 13  tmdb_popularity       8107 non-null   float64
 14  tmdb_score            7777 non-null   float64
dtypes: category(4), float64(5), int64(2), object(4)
memory usage: 806.2+ KB

In [7]:
# Sanity check
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8248 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8248 non-null   object
 1   title                 8247 non-null   object
 2   type                  8248 non-null   category
 3   description           8217 non-null   object
 4   release_year          8248 non-null   int64
 5   age_certification     4944 non-null   category
 6   runtime               8248 non-null   int64
 7   genres                0 non-null      category
 8   production_countries  0 non-null      category
 9   seasons               3436 non-null   float64
 10  imdb_id               7710 non-null   object
 11  imdb_score            7600 non-null   float64
 12  imdb_votes            7583 non-null   float64
 13  tmdb_popularity       8107 non-null   float64
 14  tmdb_score            7777 non-null   float64
dtypes: category(4), float64(5), int64(2), object(4)
memory usage: 806.2+ KB

In [8]:
# check for duplicate rows using the duplicated().sum() functions - returns number of duplicate rows
# num_duplicates = combined_df.duplicated().sum()
# print("Number of duplicate rows:", num_duplicates)

combined_df.info()

# Check if there are duplicate IDs
duplicates_exist = combined_df['id'].duplicated().any()
print("\nAre there duplicate IDs?:", duplicates_exist)

# Find the unique duplicate values
duplicate_values = combined_df[combined_df['id'].duplicated()]['id'].unique()
print("\nDuplicate ID values:", duplicate_values)

# Extract duplicate rows
duplicate_rows_df = combined_df[combined_df['id'].duplicated(keep=False)]
print("\nRows with Duplicate IDs:\n", duplicate_rows_df)

# Remove duplicates, keeping the row with the highest 'runtime'
# deduplicated_df = combined_df.loc[combined_df.groupby('id')['runtime'].idxmax()]
deduplicated_df = (
    combined_df
    .sort_values(by='runtime', ascending=False)
    .drop_duplicates(subset=['id'], keep='first')
    .sort_values(by='id')  # optional re-sort if you like
    .reset_index(drop=True)
)

duplicates_exist = deduplicated_df['id'].duplicated().any()
print("\nAre there duplicate IDs?:", duplicates_exist)

# Reset index for cleanliness
# deduplicated_df = deduplicated_df.reset_index(drop=True)

# Print the cleaned DataFrame
print("\nDataFrame after removing duplicates while keeping the highest runtime:\n", deduplicated_df)

deduplicated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8248 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8248 non-null   object
 1   title                 8247 non-null   object
 2   type                  8248 non-null   category
 3   description           8217 non-null   object
 4   release_year          8248 non-null   int64
 5   age_certification     4944 non-null   category
 6   runtime               8248 non-null   int64
 7   genres                0 non-null      category
 8   production_countries  0 non-null      category
 9   seasons               3436 non-null   float64
 10  imdb_id               7710 non-null   object
 11  imdb_score            7600 non-null   float64
 12  imdb_votes            7583 non-null   float64
 13  tmdb_popularity       8107 non-null   float64
 14  tmdb_score            7777 non-null   float64
dtypes: category(4), float64(5), int64(2), object(4)
memory usage: 806.2+ KB

Are there duplicate IDs?: True

Duplicate ID values: ['tm180542' 'ts20678' 'ts20981' 'ts21223' 'ts20339' 'ts5145' 'ts34435'
 'tm192037' 'tm49178' 'ts25252' 'ts21034' 'tm191772' 'ts21693' 'ts20939'
 'ts12724' 'ts8308' 'ts21469' 'ts17156' 'ts22011' 'ts20604' 'ts11313'
 'ts20305' 'ts21511' 'tm133767' 'ts2230' 'ts21197' 'ts30313' 'ts12787'
 'ts35155' 'ts32186' 'tm148379' 'ts21740' 'ts20544' 'ts30288' 'ts25765'
 'ts21688' 'tm114476' 'ts20526' 'ts31593' 'tm53999' 'ts56589' 'tm170442'
 'ts32835' 'ts20433' 'ts20429' 'ts9246' 'tm174683' 'ts34151' 'ts191698'
 'tm183176' 'ts20682' 'ts20351' 'ts16045' 'ts32218' 'ts20014' 'ts22426'
 'ts521' 'ts37187' 'ts37143' 'ts37539' 'ts35201' 'ts35793' 'ts42014'
 'tm140391' 'ts52922' 'ts42169' 'ts38116' 'tm312676' 'tm366889' 'tm244364'
 'ts269185' 'tm414073' 'ts241248' 'ts84280' 'tm423436' 'tm363787'
 'ts216746' 'ts87466' 'ts191559' 'ts84633' 'tm823545' 'tm426638' 'ts87471'
 'tm463385' 'ts192297' 'ts252977' 'ts321614']

Rows with Duplicate IDs:
             id                        title   type  \
24    tm180542  Once Upon a Time in America  MOVIE
45     ts20678            Saved by the Bell   SHOW
62     ts20981                     Survivor   SHOW
66     ts21223                      Pok√©mon   SHOW
72     ts20339                    One Piece   SHOW
...        ...                          ...    ...
3355   ts87471                Darwin's Game   SHOW
3361  tm463385        Framing John DeLorean  MOVIE
3629  ts192297                      Morphle   SHOW
4591  ts252977  Baewatch: Parental Guidance   SHOW
5104  ts321614               Blippi Wonders   SHOW

                                            description  release_year  \
24    A former Prohibition-era Jewish gangster retur...          1984
45    Lovable schemer Zack Morris leads his pals on ...          1989
62    A reality show contest where sixteen or more c...          2000
66    Join Ash accompanied by his partner Pikachu, a...          1997
72    Years ago, the fearsome Pirate King, Gol D. Ro...          1999
...                                                 ...           ...
3355  Sudou Kaname, an ordinary high school student,...          2020
3361  A documentary interspersed with acted scenes, ...          2019
3629  Mila's dad runs the only magic pet store in th...          2019
4591  Couples go on a romantic getaway to test their...          2019
5104  Ever curious Blippi sets off on comedic and fu...          2021

     age_certification  runtime genres production_countries  seasons  \
24                   R      229    NaN                  NaN      NaN
45                TV-G       23    NaN                  NaN      5.0
62               TV-PG       48    NaN                  NaN     42.0
66               TV-Y7       22    NaN                  NaN     24.0
72               TV-14       23    NaN                  NaN     21.0
...                ...      ...    ...                  ...      ...
3355             TV-14       25    NaN                  NaN      1.0
3361               NaN      109    NaN                  NaN      NaN
3629              TV-Y       10    NaN                  NaN      5.0
4591             TV-MA       47    NaN                  NaN      1.0
5104              TV-Y        7    NaN                  NaN      1.0

         imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
24     tt0087843         8.3    342335.0           21.322        8.40
45     tt0096694         7.1     34854.0           16.945        8.00
62     tt0239195         7.4     24368.0           73.107        7.30
66     tt0168366         7.6       172.0          138.135        7.60
72     tt0388629         8.8    112586.0          105.955        8.80
...          ...         ...         ...              ...         ...
3355  tt11405390         7.2      2440.0           14.208        7.86
3361   tt6256978         6.5      2331.0            4.842        6.20
3629  tt10087694         5.2        83.0            0.832       10.00
4591         NaN         NaN         NaN            0.606         NaN
5104  tt19315934         5.1        21.0            1.557        7.00

[174 rows x 15 columns]

Are there duplicate IDs?: False

DataFrame after removing duplicates while keeping the highest runtime:
              id                             title   type  \
0     tm1000037                      Je suis Karl  MOVIE
1     tm1000070    Bad Luck Banging or Loony Porn  MOVIE
2     tm1000147                          Zone 414  MOVIE
3      tm100015                            Takers  MOVIE
4     tm1000166  Wave of Cinema: Surat Dari Timur  MOVIE
...         ...                               ...    ...
8156    ts98340   Metallica: Some Kind of Monster   SHOW
8157    ts98353         DreamWorks Spooky Stories   SHOW
8158      ts987                      Danger Mouse   SHOW
8159     ts9904                         Bring It!   SHOW
8160    ts99814                          Masameer   SHOW

                                            description  release_year  \
0     After most of her family is murdered in a terr...          2021
1     Emi, a school teacher, finds her career and re...          2021
2     In the near future on a colony of state-of-the...          2021
3     A seasoned team of bank robbers, including Gor...          2010
4     Featuring a mix of film footage and special pe...          2020
...                                                 ...           ...
8156  This collection includes the acclaimed rock do...          2004
8157  A collection of animated tales includes shrek'...          2009
8158  Danger Mouse, the world's greatest secret agen...          1981
8159  A spotlight on the elite world of hip-hop majo...          2014
8160  A popular Saudi animation show talks sarcastic...          2011

     age_certification  runtime genres production_countries  seasons  \
0                    R      126    NaN                  NaN      NaN
1                  NaN      106    NaN                  NaN      NaN
2                    R       98    NaN                  NaN      NaN
3                PG-13      107    NaN                  NaN      NaN
4                  NaN       57    NaN                  NaN      NaN
...                ...      ...    ...                  ...      ...
8156             TV-MA       84    NaN                  NaN      1.0
8157             TV-PG       26    NaN                  NaN      1.0
8158              TV-Y       14    NaN                  NaN     10.0
8159             TV-PG       42    NaN                  NaN      6.0
8160             TV-MA       14    NaN                  NaN      1.0

         imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0      tt9205538         5.4      1077.0           12.981       5.500
1     tt14033502         6.6      6465.0           27.554       6.500
2      tt8545482         4.9      4146.0          121.562       5.400
3      tt1135084         6.2     62464.0           15.872       6.228
4            NaN         NaN         NaN            0.660         NaN
...          ...         ...         ...              ...         ...
8156   tt6954486         NaN         NaN            0.893         NaN
8157   tt6958564         6.2        19.0            0.880         NaN
8158   tt0081848         7.4      3545.0            8.550       7.500
8159   tt3704280         6.6       531.0            4.184       9.000
8160   tt6298258         8.2       687.0              NaN         NaN

[8161 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8161 non-null   object
 1   title                 8160 non-null   object
 2   type                  8161 non-null   category
 3   description           8130 non-null   object
 4   release_year          8161 non-null   int64
 5   age_certification     4864 non-null   category
 6   runtime               8161 non-null   int64
 7   genres                0 non-null      category
 8   production_countries  0 non-null      category
 9   seasons               3370 non-null   float64
 10  imdb_id               7625 non-null   object
 11  imdb_score            7516 non-null   float64
 12  imdb_votes            7499 non-null   float64
 13  tmdb_popularity       8020 non-null   float64
 14  tmdb_score            7691 non-null   float64
dtypes: category(4), float64(5), int64(2), object(4)
memory usage: 734.1+ KB

In [9]:
# Combine the imdb_score and tmdb_score columns into one, averaged column.
# Remove any rows that have neither imdb_score or tmdb_score

# Transform tmdb_score to match imdb_score's scale (1-10)
deduplicated_df["tmdb_score_scaled"] = deduplicated_df["tmdb_score"] * (9/10) + 1

# Compute the final combined score (average)
deduplicated_df["average_score"] = deduplicated_df[["tmdb_score_scaled", "imdb_score"]].mean(axis=1, skipna=True)

# Remove rows where both imdb_score and tmdb_score are NaN
# deduplicated_df = deduplicated_df.dropna(subset=['average_score']).reset_index(drop=True)

# Print final number of rows after filtering
print("Final number of rows after removing rows with no scores:", len(deduplicated_df))

deduplicated_df.info()

Final number of rows after removing rows with no scores: 8161
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8161 non-null   object
 1   title                 8160 non-null   object
 2   type                  8161 non-null   category
 3   description           8130 non-null   object
 4   release_year          8161 non-null   int64
 5   age_certification     4864 non-null   category
 6   runtime               8161 non-null   int64
 7   genres                0 non-null      category
 8   production_countries  0 non-null      category
 9   seasons               3370 non-null   float64
 10  imdb_id               7625 non-null   object
 11  imdb_score            7516 non-null   float64
 12  imdb_votes            7499 non-null   float64
 13  tmdb_popularity       8020 non-null   float64
 14  tmdb_score            7691 non-null   float64
 15  tmdb_score_scaled     7691 non-null   float64
 16  average_score         8039 non-null   float64
dtypes: category(4), float64(7), int64(2), object(4)
memory usage: 861.6+ KB

In [10]:
# Remove specified columns from the dataset using "drop()"
# ---- Ran the below line once ----
deduplicated_df = deduplicated_df.drop(columns=['description', 'id', 'imdb_score', 'tmdb_score', 'tmdb_score_scaled'])
deduplicated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 8160 non-null   object
 1   type                  8161 non-null   category
 2   release_year          8161 non-null   int64
 3   age_certification     4864 non-null   category
 4   runtime               8161 non-null   int64
 5   genres                0 non-null      category
 6   production_countries  0 non-null      category
 7   seasons               3370 non-null   float64
 8   imdb_id               7625 non-null   object
 9   imdb_votes            7499 non-null   float64
 10  tmdb_popularity       8020 non-null   float64
 11  average_score         8039 non-null   float64
dtypes: category(4), float64(4), int64(2), object(2)
memory usage: 542.8+ KB

In [ ]:
# Transform the genre column into a string type, with the value being the first element in the list of genres.

# Function to extract the first genre
def extract_first_genre(genre_list):
    if isinstance(genre_list, list) and len(genre_list) > 0:
        return genre_list[0]  # Get the first genre
    else:
        return pd.NA  # Assign pandas' NA value if the list is empty

# Apply function to the 'genres' column
copy_df = deduplicated_df.copy()

copy_df['genres_string'] = copy_df['genres'].apply(extract_first_genre)

deduplicated_df.info()
copy_df.info()

# Get all unique genre values as a list
print(copy_df.head())