<a href="https://colab.research.google.com/github/cacress/CSC442/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas
import pandas as pd

# Read in the file and print out the DataFrame
hulu_data = pd.read_csv("https://raw.githubusercontent.com/cacress/CSC442/refs/heads/main/datasets/titles_hulu.csv")
netflix_data = pd.read_csv("https://raw.githubusercontent.com/cacress/CSC442/refs/heads/main/datasets/titles_netflix.csv")

In [2]:
hulu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    2398 non-null   object
 1   title                 2398 non-null   object
 2   type                  2398 non-null   object
 3   description           2385 non-null   object
 4   release_year          2398 non-null   int64
 5   age_certification     1713 non-null   object
 6   runtime               2398 non-null   int64
 7   genres                2398 non-null   object
 8   production_countries  2398 non-null   object
 9   seasons               1330 non-null   float64
 10  imdb_id               2263 non-null   object
 11  imdb_score            2232 non-null   float64
 12  imdb_votes            2231 non-null   float64
 13  tmdb_popularity       2348 non-null   float64
 14  tmdb_score            2238 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 281.1+ KB

In [3]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [4]:
# Concatentate datasets
combined_df = pd.concat([hulu_data, netflix_data])
combined_df.shape
combined_df.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849],
      dtype='int64', length=8248)

In [5]:
# Example of a value in the genres column with multiple words
combined_df['genres'][0]

# For the row with 'music' and 'comedy', we want to extract the first word 'music'
# and replace the entire value of this row's genres variable with 'music'

0    ['music', 'comedy']
0      ['documentation']
Name: genres, dtype: object

In [6]:
# Update the values in the genres column to be only one word

import ast

# Extracts the first genre from the genres 'list'
def extractFirstGenre(genreString):
    # Consider the genre missing if genreString is not a string and its length is less than or equal to 4
    if not isinstance(genreString, str) or len(genreString) <= 4:
        return pd.NA
    try:
        # Try to evaluate the genreString as a list
        genreList = ast.literal_eval(genreString)
        # Use the first value from this new list if it exists, otherwise consider the genre missing
        return genreList[0] if isinstance(genreList, list) and genreList else pd.NA
    except:
        return pd.NA

# Apply our defined function on the genres column
combined_df['genres'] = combined_df['genres'].apply(extractFirstGenre)
combined_df.reset_index(drop=True, inplace=True)

print("# Unique Genres: ", combined_df['genres'].nunique())
print("Unique Genres: ", combined_df['genres'].unique())

# Unique Genres:  18
Unique Genres:  ['music' 'war' 'comedy' 'drama' 'scifi' 'animation' 'family' 'fantasy'
 'action' 'documentation' 'crime' 'reality' 'western' 'thriller' 'romance'
 <NA> 'horror' 'history' 'sport']

In [7]:
# Post-transformation check. We expect each row for genres to be only one word.
combined_df['genres']

0         music
1           war
2        comedy
3         drama
4        comedy
         ...
8243    romance
8244      drama
8245     comedy
8246       <NA>
8247     family
Name: genres, Length: 8248, dtype: object

In [8]:
# Sanity check
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8248 entries, 0 to 8247
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8248 non-null   object
 1   title                 8247 non-null   object
 2   type                  8248 non-null   object
 3   description           8217 non-null   object
 4   release_year          8248 non-null   int64
 5   age_certification     4944 non-null   object
 6   runtime               8248 non-null   int64
 7   genres                8165 non-null   object
 8   production_countries  8248 non-null   object
 9   seasons               3436 non-null   float64
 10  imdb_id               7710 non-null   object
 11  imdb_score            7600 non-null   float64
 12  imdb_votes            7583 non-null   float64
 13  tmdb_popularity       8107 non-null   float64
 14  tmdb_score            7777 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 966.7+ KB

In [9]:
# Check for duplicate rows using the duplicated().sum() functions - returns number of duplicate rows
num_duplicates = combined_df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

# Check if there are duplicate IDs
duplicates_exist = combined_df['id'].duplicated().any()
print("\nAre there duplicate IDs?:", duplicates_exist)

# Find the unique duplicate values
duplicate_values = combined_df[combined_df['id'].duplicated()]['id'].unique()
print("\nDuplicate ID values:", duplicate_values)

# Extract duplicate rows
duplicate_rows_df = combined_df[combined_df['id'].duplicated(keep=False)]
print("\nRows with Duplicate IDs:\n", duplicate_rows_df)

# Remove duplicates, keeping the row with the highest 'runtime'
deduplicated_df = (
    combined_df
    .sort_values(by='runtime', ascending=False)
    .drop_duplicates(subset=['id'], keep='first')
    .sort_values(by='id')
    .reset_index(drop=True)
)

duplicates_exist = deduplicated_df['id'].duplicated().any()
print("\nAre there duplicate IDs?:", duplicates_exist)

# Print the cleaned DataFrame without duplicate ids
print("\nDataFrame after removing duplicates while keeping the highest runtime:\n", deduplicated_df)

deduplicated_df.info()

Number of duplicate rows: 0

Are there duplicate IDs?: True

Duplicate ID values: ['tm180542' 'ts20678' 'ts20981' 'ts21223' 'ts20339' 'ts5145' 'ts34435'
 'tm192037' 'tm49178' 'ts25252' 'ts21034' 'tm191772' 'ts21693' 'ts20939'
 'ts12724' 'ts8308' 'ts21469' 'ts17156' 'ts22011' 'ts20604' 'ts11313'
 'ts20305' 'ts21511' 'tm133767' 'ts2230' 'ts21197' 'ts30313' 'ts12787'
 'ts35155' 'ts32186' 'tm148379' 'ts21740' 'ts20544' 'ts30288' 'ts25765'
 'ts21688' 'tm114476' 'ts20526' 'ts31593' 'tm53999' 'ts56589' 'tm170442'
 'ts32835' 'ts20433' 'ts20429' 'ts9246' 'tm174683' 'ts34151' 'ts191698'
 'tm183176' 'ts20682' 'ts20351' 'ts16045' 'ts32218' 'ts20014' 'ts22426'
 'ts521' 'ts37187' 'ts37143' 'ts37539' 'ts35201' 'ts35793' 'ts42014'
 'tm140391' 'ts52922' 'ts42169' 'ts38116' 'tm312676' 'tm366889' 'tm244364'
 'ts269185' 'tm414073' 'ts241248' 'ts84280' 'tm423436' 'tm363787'
 'ts216746' 'ts87466' 'ts191559' 'ts84633' 'tm823545' 'tm426638' 'ts87471'
 'tm463385' 'ts192297' 'ts252977' 'ts321614']

Rows with Duplicate IDs:
             id                        title   type  \
24    tm180542  Once Upon a Time in America  MOVIE
45     ts20678            Saved by the Bell   SHOW
62     ts20981                     Survivor   SHOW
66     ts21223                      Pokémon   SHOW
72     ts20339                    One Piece   SHOW
...        ...                          ...    ...
5753   ts87471                Darwin's Game   SHOW
5759  tm463385        Framing John DeLorean  MOVIE
6027  ts192297                      Morphle   SHOW
6989  ts252977  Baewatch: Parental Guidance   SHOW
7502  ts321614               Blippi Wonders   SHOW

                                            description  release_year  \
24    A former Prohibition-era Jewish gangster retur...          1984
45    Lovable schemer Zack Morris leads his pals on ...          1989
62    A reality show contest where sixteen or more c...          2000
66    Join Ash accompanied by his partner Pikachu, a...          1997
72    Years ago, the fearsome Pirate King, Gol D. Ro...          1999
...                                                 ...           ...
5753  Sudou Kaname, an ordinary high school student,...          2020
5759  A documentary interspersed with acted scenes, ...          2019
6027  Mila's dad runs the only magic pet store in th...          2019
6989  Couples go on a romantic getaway to test their...          2019
7502  Ever curious Blippi sets off on comedic and fu...          2021

     age_certification  runtime     genres production_countries  seasons  \
24                   R      229      drama         ['US', 'IT']      NaN
45                TV-G       23     comedy               ['US']      5.0
62               TV-PG       48    reality               ['US']     42.0
66               TV-Y7       22      scifi               ['JP']     24.0
72               TV-14       23     action               ['JP']     21.0
...                ...      ...        ...                  ...      ...
5753             TV-14       25     action               ['JP']      1.0
5759               NaN      109      drama               ['US']      NaN
6027              TV-Y       10  animation         ['NL', 'GB']      5.0
6989             TV-MA       47       <NA>                   []      1.0
7502              TV-Y        7  animation               ['US']      1.0

         imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
24     tt0087843         8.3    342335.0           21.322        8.40
45     tt0096694         7.1     34854.0           16.945        8.00
62     tt0239195         7.4     24368.0           73.107        7.30
66     tt0168366         7.6       172.0          138.135        7.60
72     tt0388629         8.8    112586.0          105.955        8.80
...          ...         ...         ...              ...         ...
5753  tt11405390         7.2      2440.0           14.208        7.86
5759   tt6256978         6.5      2331.0            4.842        6.20
6027  tt10087694         5.2        83.0            0.832       10.00
6989         NaN         NaN         NaN            0.606         NaN
7502  tt19315934         5.1        21.0            1.557        7.00

[174 rows x 15 columns]

Are there duplicate IDs?: False

DataFrame after removing duplicates while keeping the highest runtime:
              id                             title   type  \
0     tm1000037                      Je suis Karl  MOVIE
1     tm1000070    Bad Luck Banging or Loony Porn  MOVIE
2     tm1000147                          Zone 414  MOVIE
3      tm100015                            Takers  MOVIE
4     tm1000166  Wave of Cinema: Surat Dari Timur  MOVIE
...         ...                               ...    ...
8156    ts98340   Metallica: Some Kind of Monster   SHOW
8157    ts98353         DreamWorks Spooky Stories   SHOW
8158      ts987                      Danger Mouse   SHOW
8159     ts9904                         Bring It!   SHOW
8160    ts99814                          Masameer   SHOW

                                            description  release_year  \
0     After most of her family is murdered in a terr...          2021
1     Emi, a school teacher, finds her career and re...          2021
2     In the near future on a colony of state-of-the...          2021
3     A seasoned team of bank robbers, including Gor...          2010
4     Featuring a mix of film footage and special pe...          2020
...                                                 ...           ...
8156  This collection includes the acclaimed rock do...          2004
8157  A collection of animated tales includes shrek'...          2009
8158  Danger Mouse, the world's greatest secret agen...          1981
8159  A spotlight on the elite world of hip-hop majo...          2014
8160  A popular Saudi animation show talks sarcastic...          2011

     age_certification  runtime     genres  \
0                    R      126      drama
1                  NaN      106      drama
2                    R       98      scifi
3                PG-13      107     action
4                  NaN       57      music
...                ...      ...        ...
8156             TV-MA       84    western
8157             TV-PG       26  animation
8158              TV-Y       14  animation
8159             TV-PG       42    reality
8160             TV-MA       14     comedy

                      production_countries  seasons     imdb_id  imdb_score  \
0                             ['CZ', 'DE']      NaN   tt9205538         5.4
1     ['HR', 'LU', 'GB', 'RO', 'CH', 'CZ']      NaN  tt14033502         6.6
2                                   ['GB']      NaN   tt8545482         4.9
3                                   ['US']      NaN   tt1135084         6.2
4                                   ['ID']      NaN         NaN         NaN
...                                    ...      ...         ...         ...
8156                          ['CA', 'US']      1.0   tt6954486         NaN
8157                                ['US']      1.0   tt6958564         6.2
8158                                ['GB']     10.0   tt0081848         7.4
8159                                ['US']      6.0   tt3704280         6.6
8160                                ['SA']      1.0   tt6298258         8.2

      imdb_votes  tmdb_popularity  tmdb_score
0         1077.0           12.981       5.500
1         6465.0           27.554       6.500
2         4146.0          121.562       5.400
3        62464.0           15.872       6.228
4            NaN            0.660         NaN
...          ...              ...         ...
8156         NaN            0.893         NaN
8157        19.0            0.880         NaN
8158      3545.0            8.550       7.500
8159       531.0            4.184       9.000
8160       687.0              NaN         NaN

[8161 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8161 non-null   object
 1   title                 8160 non-null   object
 2   type                  8161 non-null   object
 3   description           8130 non-null   object
 4   release_year          8161 non-null   int64
 5   age_certification     4864 non-null   object
 6   runtime               8161 non-null   int64
 7   genres                8079 non-null   object
 8   production_countries  8161 non-null   object
 9   seasons               3370 non-null   float64
 10  imdb_id               7625 non-null   object
 11  imdb_score            7516 non-null   float64
 12  imdb_votes            7499 non-null   float64
 13  tmdb_popularity       8020 non-null   float64
 14  tmdb_score            7691 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 956.5+ KB

In [10]:
# Combine the imdb_score and tmdb_score columns into one, averaged column.

# Transform tmdb_score to match imdb_score's scale (1-10)
deduplicated_df["tmdb_score_scaled"] = deduplicated_df["tmdb_score"] * (9/10) + 1

# Compute the final combined score (average)
deduplicated_df["average_score"] = deduplicated_df[["tmdb_score_scaled", "imdb_score"]].mean(axis=1, skipna=True)

# Print final number of rows after filtering
print("Final number of rows after removing rows with no scores:", len(deduplicated_df))

deduplicated_df.info()

Final number of rows after removing rows with no scores: 8161
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8161 non-null   object
 1   title                 8160 non-null   object
 2   type                  8161 non-null   object
 3   description           8130 non-null   object
 4   release_year          8161 non-null   int64
 5   age_certification     4864 non-null   object
 6   runtime               8161 non-null   int64
 7   genres                8079 non-null   object
 8   production_countries  8161 non-null   object
 9   seasons               3370 non-null   float64
 10  imdb_id               7625 non-null   object
 11  imdb_score            7516 non-null   float64
 12  imdb_votes            7499 non-null   float64
 13  tmdb_popularity       8020 non-null   float64
 14  tmdb_score            7691 non-null   float64
 15  tmdb_score_scaled     7691 non-null   float64
 16  average_score         8039 non-null   float64
dtypes: float64(7), int64(2), object(8)
memory usage: 1.1+ MB

In [11]:
# Remove specified columns from the dataset using "drop()"
deduplicated_df = deduplicated_df.drop(columns=['description', 'id', 'imdb_id', 'imdb_score', 'tmdb_score', 'tmdb_score_scaled'])
deduplicated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 8160 non-null   object
 1   type                  8161 non-null   object
 2   release_year          8161 non-null   int64
 3   age_certification     4864 non-null   object
 4   runtime               8161 non-null   int64
 5   genres                8079 non-null   object
 6   production_countries  8161 non-null   object
 7   seasons               3370 non-null   float64
 8   imdb_votes            7499 non-null   float64
 9   tmdb_popularity       8020 non-null   float64
 10  average_score         8039 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 701.5+ KB

In [12]:
print("# Unique Genres: ", deduplicated_df['genres'].nunique())
print("Unique Genres: ", deduplicated_df['genres'].unique())

# Unique Genres:  18
Unique Genres:  ['drama' 'scifi' 'action' 'music' 'comedy' 'animation' 'thriller'
 'documentation' 'romance' 'family' 'fantasy' 'horror' 'crime' 'sport'
 <NA> 'history' 'war' 'western' 'reality']

In [13]:
# Function to sort production_countries
def sort_countries(country_str):
    try:
        # Convert string to list
        country_list = ast.literal_eval(country_str)  # Converts string list to actual list
        # Sort list alphabetically
        country_list_sorted = sorted(country_list)
        # Convert back to string for consistency
        return str(country_list_sorted)
    except:
        return country_str  # Return as is if there's an issue

deduplicated_df["production_countries"] = deduplicated_df["production_countries"].apply(sort_countries)

deduplicated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 8160 non-null   object
 1   type                  8161 non-null   object
 2   release_year          8161 non-null   int64
 3   age_certification     4864 non-null   object
 4   runtime               8161 non-null   int64
 5   genres                8079 non-null   object
 6   production_countries  8161 non-null   object
 7   seasons               3370 non-null   float64
 8   imdb_votes            7499 non-null   float64
 9   tmdb_popularity       8020 non-null   float64
 10  average_score         8039 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 701.5+ KB

In [14]:
print(deduplicated_df['production_countries'])
print("# Unique Production Coutnries: ", deduplicated_df['production_countries'].nunique())
print("Unique Production Countries: ", deduplicated_df['production_countries'].unique())

0                               ['CZ', 'DE']
1       ['CH', 'CZ', 'GB', 'HR', 'LU', 'RO']
2                                     ['GB']
3                                     ['US']
4                                     ['ID']
                        ...
8156                            ['CA', 'US']
8157                                  ['US']
8158                                  ['GB']
8159                                  ['US']
8160                                  ['SA']
Name: production_countries, Length: 8161, dtype: object
# Unique Production Coutnries:  483
Unique Production Countries:  ["['CZ', 'DE']" "['CH', 'CZ', 'GB', 'HR', 'LU', 'RO']" "['GB']" "['US']"
 "['ID']" "['PL']" "['IN', 'SU']" "['CN']" "['NG']" "['BR']"
 "['CA', 'NZ']" "['IN']" "['JP']" "['PH']" "['RU', 'US']" "['TW']"
 "['DE']" "['CA', 'US']" "['GB', 'IT']" "['KR', 'PL', 'US']"
 "['FR', 'US']" "['GB', 'US']" '[]' "['KR']" "['ES', 'FR', 'MX']" "['NL']"
 "['ES']" "['DK', 'IS']" "['ZA']" "['TR']" "['IT']" "['CH', 'DE']"
 "['SA']" "['MX']" "['AU', 'US']" "['HK', 'NZ']" "['DE', 'US']" "['FR']"
 "['EG']" "['CN', 'US']" "['VN']" "['KE']" "['DE', 'GB']" "['HK']"
 "['AU']" "['CA']" "['BE', 'NL']" "['CN', 'GB', 'MY', 'US']"
 "['CN', 'HK']" "['FI', 'FR', 'NO', 'SE']" "['CL', 'DE', 'GB', 'US']"
 "['PS']" "['CA', 'HU']" "['JP', 'US']" "['SE']" "['AR']" "['BR', 'IT']"
 "['TH']" "['AF']" "['GB', 'ZA']" "['CA', 'NG']" "['MX', 'US']" "['NO']"
 "['JP', 'TH', 'US']" "['LB']" "['CL', 'CN', 'IR', 'TH', 'US']" "['FI']"
 "['CO']" "['RO', 'SE']" "['CM']" "['CH', 'GB', 'HU', 'NL']"
 "['BR', 'US']" "['BE', 'FR']" "['NL', 'US']" "['GB', 'GR', 'US']"
 "['CZ', 'US']" "['GB', 'TZ']" "['CL', 'PE']" "['GB', 'SE']"
 "['BY', 'FR', 'KZ', 'US']" "['FO', 'PH']" "['DE', 'GB', 'US']"
 "['RO', 'US']" "['CA', 'DE', 'FR', 'GB', 'US']"
 "['DE', 'FR', 'PS', 'US']" "['DE', 'FR', 'MA', 'PS']"
 "['CA', 'GB', 'US']" "['ES', 'FR']" "['CA', 'GB']" "['IL']" "['TZ']"
 "['CA', 'ZA']" "['GB', 'IE']" "['MY']" "['XX']" "['ES', 'PE']"
 "['EG', 'FR']" "['DK']" "['PE']" "['PH', 'PS']" "['DE', 'FR']"
 "['AU', 'FR', 'US', 'ZA', 'ZW']" "['KW']" "['ES', 'US']"
 "['FR', 'MT', 'US']" "['ES', 'GB', 'US']" "['FR', 'LB']" "['FR', 'GB']"
 "['GB', 'IL', 'US']" "['GH', 'US']" "['HK', 'JP', 'US']" "['CD', 'GB']"
 "['FR', 'IR', 'US']" "['DE', 'DK']" "['FR', 'GB', 'US']"
 "['CA', 'CN', 'GB', 'US']" "['MX', 'US', 'ZA']" "['BG', 'GB', 'US']"
 "['CA', 'FR', 'GB']" "['AE', 'GB', 'IE', 'IL', 'IS', 'NO', 'ZA']"
 "['CS', 'DE', 'GB', 'NO', 'US']" "['AR', 'VE']"
 "['BR', 'DK', 'FR', 'PT', 'SE']" "['IT', 'US']"
 "['CN', 'DE', 'SG', 'UA', 'US']" "['AF', 'US']"
 "['AU', 'DE', 'GB', 'US']" "['CA', 'KR']" "['CN', 'GB', 'US']"
 "['BE', 'DE', 'FR', 'IL', 'IN', 'LU', 'PL', 'US']"
 "['DE', 'FR', 'KW', 'PS']" "['AU', 'GB', 'US']" "['VE']" "['AE', 'US']"
 "['CZ', 'DK', 'GB', 'NL', 'SE']" "['CA', 'CL', 'US']" "['DK', 'US']"
 "['BE']" "['HK', 'JP']" "['DE', 'FR', 'GB']" "['DE', 'US', 'ZA']"
 "['CA', 'FR', 'US']" "['AE', 'NL', 'PS', 'US']"
 "['DE', 'FR', 'GB', 'US']" "['HU', 'IT', 'US']" "['US', 'ZA']"
 "['DE', 'FR', 'NO', 'SE', 'US']" "['NG', 'US']" "['AE', 'LB']"
 "['DE', 'FR', 'IT', 'PS']" "['AU', 'CH', 'GB']" "['GR', 'US']"
 "['DE', 'IN']" "['CA', 'MX']" "['GB', 'JP', 'US']" "['FR', 'IT', 'US']"
 "['EG', 'GB', 'US']" "['BE', 'DK', 'NL']" "['CN', 'ES', 'US']"
 "['BF', 'DE', 'GB', 'GH', 'US']" "['AR', 'ES']" "['BR', 'PE', 'US']"
 "['HK', 'US']" "['BE', 'DE', 'DK', 'GB', 'US']"
 "['CA', 'DE', 'FI', 'FR', 'SE']" "['IE', 'ZA']"
 "['BE', 'ES', 'FR', 'GB', 'PT']" "['FR', 'GB', 'LU', 'US']"
 "['CH', 'US']" "['CL']" "['FR', 'MA']"
 "['CA', 'CN', 'GB', 'ID', 'SG', 'US']" "['CA', 'FR']"
 "['DE', 'FR', 'PS']" "['FR', 'IS', 'UA']" "['DE', 'FR', 'NO', 'SE']"
 "['BG']" "['DO', 'US']" "['CA', 'IE']" "['GB', 'UA', 'US']"
 "['LB', 'QA']" "['AE', 'FR', 'JO', 'LB', 'PS', 'QA']"
 "['CA', 'DE', 'GB']" "['Lebanon']" "['RO']" "['NZ']"
 "['FR', 'GB', 'NL', 'US']" "['NO', 'SE']" "['GB', 'IN']" "['DE', 'ZA']"
 "['GB', 'IR', 'JO', 'QA']" "['BE', 'FR', 'GB']" "['BE', 'FR', 'RO']"
 "['CN', 'GB', 'IN', 'US']" "['DE', 'LB']" "['AT']" "['DK', 'SE']"
 "['BE', 'CZ', 'DE', 'FR']" "['CA', 'ES', 'GB', 'HU', 'MX', 'US']"
 "['AR', 'CL']" "['CA', 'HK', 'LU', 'US']" "['DE', 'DK', 'FR', 'SE']"
 "['SE', 'US']" "['FR', 'IE', 'US']" "['DE', 'IE', 'US']" "['CA', 'ES']"
 "['GB', 'NL']" "['KR', 'US']" "['CZ', 'GB', 'US']"
 "['CN', 'GB', 'PR', 'US']" "['ES', 'FR', 'IT']"
 "['DK', 'FR', 'NO', 'SE']" "['DE', 'JO', 'NL']" "['FR', 'QA']"
 "['CA', 'CN', 'US']" "['CL', 'FR']" "['TN']" "['AE']" "['GB', 'IQ']"
 "['FR', 'GL']" "['BE', 'CH', 'FR']" "['GB', 'SY']" "['CA', 'FR', 'LB']"
 "['DE', 'ES']" "['FR', 'IT']" "['GB', 'IE', 'US']" "['AT', 'US']"
 "['BE', 'FR', 'US']" "['CA', 'CN', 'FR']"
 "['BE', 'DE', 'FR', 'GB', 'RO']" "['UA']" "['DE', 'FR', 'GE']"
 "['KH', 'US']" "['TR', 'US']" "['KH']" "['BE', 'CH', 'ES', 'FR', 'PS']"
 "['AU', 'CA', 'GB', 'US']" "['CL', 'FR', 'NL']" "['HU']" "['IE']"
 "['ES', 'MX']" "['GB', 'JP', 'KR']" "['CH', 'FR', 'GB', 'US']"
 "['CH', 'FR', 'PS', 'QA']" "['DE', 'DK', 'GB', 'NL']"
 "['DK', 'GB', 'ID', 'NO']" "['CZ']" "['CD']" "['BE', 'BR', 'ES', 'FR']"
 "['BE', 'FR', 'GB', 'IT']"
 "['AT', 'GR', 'HU', 'IN', 'NZ', 'PL', 'TR', 'US']" "['IS']"
 "['IN', 'US']" "['BE', 'FR', 'NL']" "['CA', 'JP', 'US']"
 "['FR', 'LU', 'US']" "['DK', 'GB', 'GR']"
 "['AR', 'CH', 'CO', 'DE', 'DK', 'FR', 'NL', 'SE', 'US', 'UY']"
 "['IN', 'MX']" "['FR', 'JP']" "['AU', 'CN', 'US']" "['DK', 'GB', 'US']"
 "['DK', 'ES']" "['BD', 'IN']" "['CA', 'FI', 'GB', 'US']"
 "['BG', 'GB', 'IL', 'MA', 'US']" "['GB', 'IS']" "['BG', 'US']"
 "['AU', 'IN', 'SG', 'US']" "['GB', 'IL', 'IT', 'PE', 'US']"
 "['AR', 'FR']" "['IS', 'NO', 'US']" "['CZ', 'ES', 'MT', 'RS', 'US']"
 "['CU', 'US']" "['AR', 'BR', 'DE', 'DK', 'FR', 'PL']" "['PK']"
 "['CZ', 'SK', 'UA']" "['BE', 'GB', 'US']" "['DE', 'IT']" "['LB', 'PS']"
 "['CA', 'CN', 'DE', 'US']" "['DE', 'GB', 'NZ']" "['BE', 'ES']"
 "['EE', 'ES']" "['BE', 'FR', 'IT']" "['GE']" "['GH']"
 "['FR', 'JP', 'KR']" "['BE', 'IS', 'SE']" "['MX', 'NL']"
 "['FR', 'JP', 'US']" "['CH']" "['PL', 'RS', 'RU']" "['IN', 'NP']"
 "['DK', 'SE', 'US']" "['GB', 'SG', 'US']" "['DE', 'NO', 'PE']"
 "['FR', 'IN', 'SG']" "['GB', 'NO', 'SE']" "['CA', 'ES', 'FR', 'US']"
 "['HK', 'IS', 'US']" "['ID', 'MY', 'SG']" "['AT', 'DE', 'GB']"
 "['DE', 'FR', 'RO', 'SE']" "['CH', 'DE', 'FR', 'IT', 'VA']"
 "['FR', 'RO', 'RU', 'US']" "['DE', 'NO']" "['BE', 'CZ', 'RU']"
 "['CL', 'MX', 'US']" "['CO', 'MX']" "['BS', 'CZ', 'DE', 'GB', 'US']"
 "['CA', 'DE', 'FR', 'US']" "['CN', 'JP']" "['DK', 'NL', 'NO', 'SE']"
 "['AR', 'US']" "['ES', 'IT']" "['FR', 'IN']" "['DK', 'NO', 'SE']"
 "['CH', 'FR', 'IT']" "['AL', 'CH', 'IT', 'PL']"
 "['BE', 'FR', 'QA', 'TN']" "['AR', 'IT']" "['BE', 'FR', 'KH', 'LU']"
 "['BE', 'DE']" "['CA', 'DE', 'US']" "['PR', 'US']" "['FI', 'MX']"
 "['ZW']" "['FR', 'NL', 'SG']" "['DE', 'DK', 'NO']" "['AR', 'ES', 'UY']"
 "['FR', 'LB', 'QA', 'SY']" "['CN', 'FR', 'TW', 'US']" "['CA', 'CN']"
 "['CA', 'FR', 'LU']" "['AT', 'IQ', 'US']" "['PY']" "['AR', 'RS', 'UY']"
 "['ES', 'MX', 'UY']" "['TW', 'US']" "['AT', 'DE', 'IN']" "['AR', 'MX']"
 "['AU', 'CA', 'CN', 'US']" "['CA', 'IT', 'MC', 'US']" "['PH', 'SG']"
 "['PL', 'US']" "['CA', 'US', 'ZA']" "['MK']"
 "['CA', 'DE', 'DK', 'FR', 'GB', 'SE', 'US']" "['FR', 'QA', 'TN']"
 "['BE', 'DK', 'FI', 'GB', 'IS', 'NO', 'SE']" "['GB', 'MW', 'US']"
 "['BE', 'GB', 'SE']" "['SG']" "['DE', 'FR', 'IL', 'US']"
 "['ES', 'FR', 'US']" "['GB', 'PL', 'UA']" "['CA', 'NO']" "['RU']"
 "['CA', 'IT', 'KE', 'US']" "['BD']" "['AR', 'CA', 'CL']" "['GB', 'JP']"
 "['CN', 'ES']" "['BE', 'FR', 'SN']" "['AR', 'DE', 'JP', 'US']"
 "['AU', 'GB']" "['FR', 'MA', 'QA']" "['PT', 'US']" "['JP', 'PH']"
 "['GB', 'TW']" "['NG', 'NO']" "['IE', 'US']" "['KG']" "['ES', 'PT']"
 "['AL', 'JO', 'TH', 'US']" "['DE', 'FR', 'US']" "['BE', 'DE', 'ES']"
 "['BE', 'FR', 'LB', 'NO']" "['UY']" "['DE', 'FR', 'GB', 'IE']"
 "['CA', 'ES', 'JP']" "['AU', 'CA', 'GB', 'GR', 'NZ']"
 "['FR', 'IN', 'QA']" "['DK', 'NL', 'SE']" "['HK', 'PH']"
 "['BE', 'FR', 'IT', 'LB']" "['FR', 'GB', 'LB']"
 "['AR', 'BR', 'CH', 'DE', 'MX', 'QA', 'US']" "['CA', 'LB', 'NL', 'US']"
 "['AR', 'DE', 'ES', 'UY']" "['CO', 'US']" "['BE', 'LT', 'NL']"
 "['MY', 'SG']" "['CZ', 'FR', 'GB']" "['PH', 'US']" "['BE', 'IE']"
 "['BE', 'FR', 'LU']" "['DK', 'LB', 'PS']" "['BT', 'CN']"
 "['BE', 'GB', 'IE', 'SE', 'US']" "['EG', 'SA']" "['IL', 'US']"
 "['LB', 'NL', 'PS', 'US']" "['CA', 'IE', 'US']" "['BE', 'DE', 'FR']"
 "['AU', 'BE']" "['GT', 'UY']" "['CL', 'DE', 'ES', 'NL', 'US']"
 "['CN', 'DE', 'GB']" "['AU', 'CA', 'GB', 'US', 'ZA']" "['BR', 'FR']"
 "['MU']" "['ES', 'NO', 'US']" "['DK', 'GB', 'LB']"
 "['BE', 'DE', 'FR', 'MX', 'SE']" "['AT', 'DE', 'FR', 'GB', 'NG', 'US']"
 "['PS', 'QA']" "['AF', 'DE', 'PS']" "['GB', 'NL', 'PL', 'UA', 'US']"
 "['FR', 'LU']" "['AR', 'ES', 'FR']" "['DZ', 'EG']" "['AR', 'CO']"
 "['NA']" "['AT', 'BA', 'DE', 'FR', 'NL', 'NO', 'PL', 'RO', 'TR']"
 "['DE', 'SE']" "['CO', 'FR', 'MX']"
 "['BE', 'CY', 'DE', 'FR', 'QA', 'SE', 'TN']" "['DE', 'FR', 'IT']"
 "['CA', 'HU', 'US']" "['CA', 'CI', 'FR']" "['NZ', 'US']"
 "['DE', 'DK', 'EG']" "['GB', 'US', 'ZA']" "['TH', 'US']" "['AO', 'ZA']"
 "['CY', 'US']" "['CN', 'JP', 'US']" "['BE', 'ES', 'US']"
 "['CA', 'FR', 'GB', 'JP', 'US']" "['FR', 'GB', 'LT']" "['FI', 'NO']"
 "['ES', 'FR', 'GB', 'US']" "['AT', 'GB', 'US']" "['IR', 'US']"
 "['BR', 'MX']" "['EG', 'US']" "['CA', 'LK']" "['AE', 'LB', 'US']"
 "['AT', 'DE']" "['IN', 'SG', 'US']" "['CO', 'ES']" "['GB', 'MT', 'US']"
 "['CA', 'IN', 'US']" "['CN', 'GB']" "['CN', 'TW']" "['BE', 'DE', 'GB']"
 "['DK', 'EE', 'ES', 'FI', 'FR', 'IT', 'NO', 'SE', 'SI', 'US']"
 "['EG', 'GB']" "['SN']" "['BY']" "['AU', 'GB', 'NZ', 'US']"
 "['ES', 'GB']" "['LU']" "['AR', 'PE']" "['MY', 'TW']" "['IO']"
 "['SG', 'US']" "['PT']" "['BE', 'LU']" "['ES', 'KN']" "['AU', 'DE']"
 "['BE', 'US']" "['EG', 'LB', 'MA', 'SA', 'TN']" "['AU', 'DE', 'FR']"
 "['HR']" "['DE', 'LU']" "['AE', 'SA', 'SY']" "['BR', 'CA']"
 "['FR', 'RU', 'US']" "['PR']" "['JO']"]

In [15]:
# Remove any movies/shows without a title
deduplicated_df = deduplicated_df.dropna(subset=['title'])

In [16]:
# Showing the number of unique values in these columns;
# these can be converted to categorical variables
print(deduplicated_df['type'].nunique())
print(deduplicated_df['age_certification'].nunique())
print(deduplicated_df['genres'].nunique())

# Convert the above columns into categorical variables
deduplicated_df['type'] = deduplicated_df['type'].astype('category')
deduplicated_df['age_certification'] = deduplicated_df['age_certification'].astype('category')
deduplicated_df['genres'] = deduplicated_df['genres'].astype('category')

2
11
18

In [17]:
# Few more touches left

# Rename genres column to genre (more consistent with the stored value)
deduplicated_df.rename(columns={'genres': 'genre'}, inplace=True)

# Convert seasons and imdb_votes from float to int data type
deduplicated_df['seasons'] = deduplicated_df['seasons'].astype('Int64')
deduplicated_df['imdb_votes'] = deduplicated_df['imdb_votes'].astype('Int64')

# Reset the indexes of the rows.
deduplicated_df.reset_index(drop=True, inplace=True)

In [18]:
deduplicated_df.info()
final_df = deduplicated_df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8160 entries, 0 to 8159
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 8160 non-null   object
 1   type                  8160 non-null   category
 2   release_year          8160 non-null   int64
 3   age_certification     4864 non-null   category
 4   runtime               8160 non-null   int64
 5   genre                 8079 non-null   category
 6   production_countries  8160 non-null   object
 7   seasons               3370 non-null   Int64
 8   imdb_votes            7499 non-null   Int64
 9   tmdb_popularity       8020 non-null   float64
 10  average_score         8039 non-null   float64
dtypes: Int64(2), category(3), float64(2), int64(2), object(2)
memory usage: 551.2+ KB

In [19]:
# Export the final merged/cleaned/wrangled dataset as csv
final_df.to_csv('merged.csv', index=False)